#root {
  margin: 0 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.buttonForm {
  width: 90%;
  max-width: 100px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: white;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: gray;
  font-size: large;
  
  transition: 0.2s;

  margin-left: 20px
}

.buttonForm:hover {
    transform: translateY(-2px);
}

.addRoot {
  display: flex;
  justify-content: center;
}